.game {
    color: var(--color-primary);
    width: 100%;
    font-size: 1.4rem;
}

.game h1 {
    font-size: 4rem;
    padding: 2rem 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.back {
    border: none;
    background-color: transparent;
    color: var(--color-primary);
    margin-left: -1rem;
}

.back svg {
    fill: var(--color-primary);
    height: 5.4rem;
    width: 5.4rem;
    transition: all 0.4s;
}

.back svg:hover {
    fill: var(--color-secondary);
}

.details {
    padding-left: 3rem;
    list-style-type: none;
}

.details li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
    margin-top: 2rem;
    font-size: 1.6rem;
}

.details h2 {
    color: #ffffff33;
    font-size: 1.4rem;
}

.details span {
    text-decoration: underline;
    padding-bottom: 0.1rem;
}

.details span:not(:last-child) {

    &::after {
        content: ", ";
        display: inline-block;
        margin-right: 0.5rem;
    }
}

.metacritic-red, .metacritic-yellow, .metacritic-green {
    border: 1px solid;
    padding: 0.7rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    border-radius: 5px;
}

.metacritic-green {
    color: rgb(109, 200, 73);
    border-color: rgba(109, 200, 73, .4);
}

.metacritic-red {
    color: rgb(201, 5, 15);
    border-color: rgba(201, 5, 15, 0.4);
}

.metacritic-yellow {
    color: rgb(246, 250, 5);
    border-color: rgba(246, 250, 5, 0.4);
}

.descr {
    letter-spacing: 1.6px;
    padding: 3rem 3rem 0 3rem;
}

.descr h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}
