.button {
    display: block;
    font-weight: 700;

    padding-left: 3rem; 
    background: none;
    border: none;
    color: var(--color-primary);
    transition: all 0.4s;
}

.button:active {
    transform: scale(90%);
}