.search {
    margin: 0 auto;
    position: relative;
}

.search-bar {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 30rem;
    transition: all 0.2s;
}

.search-bar input {
    outline: none;
    border: none;
    padding: 0.8rem 1.5rem;
    width: 100%;
    font-weight: 700;
}

.search-bar input::placeholder {
    opacity: 50%;
}

.search-bar:focus-within {
    width: 45rem;
    animation: focus 0.5s;
}

@keyframes focus {
    0% {
        width: 30rem;
    }
    50% {
        width: 48rem;
    }
    100% {
        width: 45rem;
    }
}

.search-bar span {
    background-color: var(--color-primary);
    border: none;
    padding: 0.4rem 0.8rem;
}

.search-bar img {
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.results {
    display: none;
    visibility: hidden;

    width: 100%;
    height: 70vh;

    list-style-type: none;
    padding: 0 2rem 2rem;
    background-color: var(--color-primary);
    border-radius: 10px;
    overflow-y: scroll;

    position: absolute;
    top: 4rem;
    z-index: 4;
}

.results li {
    padding-top: 2rem;
}

.results li:not(:last-child) {
    border-bottom: 1px solid var(--color-tertiary);
    padding-bottom: 2rem;
}

.results a:link, .results a:visited {
    display: flex;
    align-items: center;
    gap: 2rem;

    font-size: 2rem;
    color: var(--color-tertiary);
    text-decoration: none;
}

.results img {
    min-height: 8rem;
    height: 8rem;
    min-width: 15rem;
    width: 15rem;
    background-color: var(--color-secondary);
    object-fit: cover;
    border-radius: 10px;
}

.visible {
    display: block;
    visibility: visible;
    animation: appearance 0.5s;
}

@keyframes appearance {
    from {
        visibility: hidden; 
    }
    to {
        visibility: hidden; 
    }
}

@media (max-width: 56.25em) {
    .search-bar:focus-within {
        width: 30rem;
        animation: none;
    }

    .results a:link, .results a:visited {
        flex-direction: column;
        text-align: center;
        font-size: 1.6rem;
    }

    .results img {
        min-height: 8rem;
        height: 8rem;
        width: 20rem;
        min-width: 20rem;
    }
}


@media (max-width: 36.25em) {
    .search-bar {
        width: 100%;
    }

    .search-bar span {
        display: none;
    }

    .search-bar:focus-within {
        width: 100%;
    }

    .results img {
        min-height: 8rem;
        height: 8rem;
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 23.4375em) {
    .results {
        padding: 0 1rem 1rem;
    }
}